//! **************************************************************************
// Written by: Map P.20131013 on Sun Jun 13 20:59:34 2021
//! **************************************************************************

SCHEMATIC START;
COMP "KYPD_ROW<0>" LOCATE = SITE "E4" LEVEL 1;
COMP "KYPD_ROW<1>" LOCATE = SITE "F3" LEVEL 1;
COMP "KYPD_ROW<2>" LOCATE = SITE "G8" LEVEL 1;
COMP "KYPD_ROW<3>" LOCATE = SITE "G7" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "W3" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "Y4" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "Y1" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "Y3" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "AB4" LEVEL 1;
COMP "KYPD_COL<0>" LOCATE = SITE "H8" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "W1" LEVEL 1;
COMP "KYPD_COL<1>" LOCATE = SITE "J7" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "AB3" LEVEL 1;
COMP "KYPD_COL<2>" LOCATE = SITE "K8" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "AA4" LEVEL 1;
COMP "KYPD_COL<3>" LOCATE = SITE "K7" LEVEL 1;
COMP "CLK" LOCATE = SITE "D11" LEVEL 1;
SCHEMATIC END;

