NET CLK LOC=D11 ;
## LEDs
NET "LED[0]" LOC=W3 ;
NET "LED[1]" LOC=Y4 ;
NET "LED[2]" LOC=Y1 ;
NET "LED[3]" LOC=Y3 ;
NET "LED[4]" LOC=AB4 ;
NET "LED[5]" LOC=W1 ;
NET "LED[6]" LOC=AB3 ;
NET "LED[7]" LOC=AA4 ;
## Keypad
NET "KYPD_COL[0]" LOC = H8 ;
NET "KYPD_COL[1]" LOC = J7 ;
NET "KYPD_COL[2]" LOC = K8 ;
NET "KYPD_COL[3]" LOC = K7 ;

NET "KYPD_ROW[0]" LOC = E4 ;
NET "KYPD_ROW[1]" LOC = F3 ;
NET "KYPD_ROW[2]" LOC = G8 ;
NET "KYPD_ROW[3]" LOC = G7 ;