//! **************************************************************************
// Written by: Map P.20131013 on Tue Jun 15 12:46:14 2021
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "D11" LEVEL 1;
COMP "Segs<0>" LOCATE = SITE "AA21" LEVEL 1;
COMP "Segs<1>" LOCATE = SITE "AA22" LEVEL 1;
COMP "Segs<2>" LOCATE = SITE "Y22" LEVEL 1;
COMP "Segs<3>" LOCATE = SITE "N15" LEVEL 1;
COMP "Segs<4>" LOCATE = SITE "AB19" LEVEL 1;
COMP "Segs<5>" LOCATE = SITE "P20" LEVEL 1;
COMP "Segs<6>" LOCATE = SITE "Y21" LEVEL 1;
COMP "En<0>" LOCATE = SITE "M17" LEVEL 1;
COMP "En<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "En<2>" LOCATE = SITE "P19" LEVEL 1;
COMP "En<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "En<4>" LOCATE = SITE "AB21" LEVEL 1;
COMP "En<5>" LOCATE = SITE "AA20" LEVEL 1;
COMP "Reset" LOCATE = SITE "E6" LEVEL 1;
COMP "Switch<0>" LOCATE = SITE "V5" LEVEL 1;
COMP "Switch<1>" LOCATE = SITE "U4" LEVEL 1;
COMP "Switch<2>" LOCATE = SITE "V3" LEVEL 1;
COMP "Switch<3>" LOCATE = SITE "P4" LEVEL 1;
COMP "Switch<4>" LOCATE = SITE "R4" LEVEL 1;
COMP "Switch<5>" LOCATE = SITE "P6" LEVEL 1;
SCHEMATIC END;

